<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		@page {
			size: A4 landscape;
			margin: 1cm;
		}
	</style>
</head>
<body>
<font size="15px" color="#8a2be2"> DAFTAR ANGGOTA ASLAB GI-BEI</font>
<br><br>
<table border="1">
	<thead>
		<tr>
			<th>Nama ANGGOTA</th>
			<th>ALAMAT</th>
			<th>JURUSAN</th>
			<th>NO HP</th>
		</tr>
	</thead>
	<tbody>
		{% for aslab in anggota %}
		<tr>
			<td width="30%">{{ aslab.nama_anggota }}</td>
      	<td width="30%">{{ aslab.alamat }}</td>
			<td width="15%"> {% if  aslab.jurusan == 'ak' %} Akuntansi
				{% elif aslab.jurusan == 'mi' %} Manajemen informatika
				{% else %} Mesin
				{% endif %}
			</td>
			<td width="30%"><br>{{ aslab.nohp }}<br></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>
