{% extends 'anggota/base.html' %}
{% block content %}
	<a href="{% url 'anggota_detail_view' anggota.id %}"><b> <-- Back </b></a>
	<h3>Edit Data Anggota</h3>
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Update">
	</form>
{% endblock %}
