{% extends 'anggota/base.html' %}
{% block content %}
	<a href="{% url 'anggota_detail_view' anggota.id %}"><b> <---Back </b></a>
	<h3>!!! Peringatan !!!</h3>
	Apakah anda yakin ingin menghapus Anggota : {{ anggota.nama_anggota }} ?
	<form action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="" value="Ya, yakin!">
	</form>
{% endblock %}
