{% extends 'anggota/base.html' %}
{% block content %}
	<h3 style="color: deeppink">{{ anggota.nama_anggota }}</h3>
	<b>Jurusan :</b>
		{% if aslab.jurusan == 'ak' %} Akuntansi
			{% elif aslab.jurusan == 'mi' %} Manajemen Informatika
			{% else %}Mesin
		{% endif %}<br>
	<b>alamat :</b> {{ anggota.alamat }}<br>
	<b>nohp :</b> {{ anggota.nohp }}<br>
	<br><br>
	<a href="{% url 'anggota_edit' anggota.id %}"> Edit Anggota</a>
	<a href="{% url 'anggota_delete' anggota.id %}"> Hapus Anggota</a>
{% endblock %}
