{% extends 'anggota/base.html' %}
{% block content %}
  <p><a href="{% url 'anggota_add' %}"><b> (+)Tambah Anggota</b></a> &nbsp;
    <a href="{% url 'anggota_to_pdf' %}"><b> (+)Export PDF</b></a>
  </p>

  <br>
{% for aslab in anggota %}
  <h3><a href="{% url 'anggota_detail_view' aslab.id %}">
              {{ aslab.nama_anggota }}</a></h3>
  <i>Jurusan :</i>
  {% if aslab.jurusan == 'ak' %}
    Akuntansi
    {% elif aslab.jurusan == 'mi' %}
      Manajemen Informatika
      {% else %}
        Mesin
  {% endif %}

{% endfor %}

{% endblock %}
